
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Bubbler One', sans-serif;}

ul {background-color: teal;}

nav li {
	display: inline-block;
	margin: 0 1em;}

nav ul li a:hover{
	color: white;
}

.email:hover{
	color: cyan;
}

.Amok img { width: 50%;} 
.Amok img {border: .5px solid gray;}
.Amok img:hover {border: .5px solid cyan;}	

.Shelter img { width: 50%;}
.Shelter img {border: .5px solid gray;}
.Shelter img:hover {border: .5px solid cyan;}

.Fortune img { width: 50%;} 
.Fortune img {border: .5px solid gray;}
.Fortune img:hover {border: .5px solid cyan;}

.github img {height: 20px; 
	border: .5px solid gray;}

.github img {margin-right: 20px;}

.github:hover{
	color: cyan;
}

.linkedin img {margin-right: 20px;}

.linkedin:hover{
	color: cyan;
}
