
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Handlee', cursive;}

ul {background-color: teal;}

.Amok img { width: 50%; }

.Shelter img { width: 50%; }

.Fortune img { width: 50%; }

.github img {height: 20px; width: 20px;
margin-right: 20px;}

.linkedin img {margin-right: 20px;}